.container
  .header.clearfix
    %nav.nav.nav-pills.pull-right
      %ul{"class" => "nav nav-pills pull-right"}
        %li{"role" => "presentation"}
          %a.navbar-link{"href" => "https://github.com/zoer/imei-scraper",
            "target" => "_blank"}
            %i.fa.fa-github.fa-2
    %h3{"class" => "text-muted"}= t(".project")
